---
layout: default
title: Home
description: Simple documentation template for Github pages
isHome: true
---

<section class="bs-docs-section">
  <h1 id="overview" class="page-header">Overview</h1>
  {% capture overview %}{% include overview.md %}{% endcapture %}
  {{ overview | markdownify }}
</section>

<section class="bs-docs-section">
  <h1 id="files-section">Files Section</h1>
  {% capture files %}{% include files.md %}{% endcapture %}
  {{ files | markdownify }}
</section>

<section class="bs-docs-section">
<h1 id="serverflags-section">Server Flags Section</h1>
{% capture serverflags %}{% include serverflags.md %}{% endcapture %}
{{ serverflags | markdownify }}
</section>
